{
  "soap": {
    "host": "localhost",
    "user": "user@soap.local",
    "password": "password"
  },
  "db": {
    "host": "localhost",
    "port": 3306,
    "name": "db",
    "user": "user",
    "password": "password",
    "cache_expire": 9000
  }
}