{
  "soap.host": "localhost",
  "soap.user": "user@soap.local",
  "soap.password": "password",
  "db.host": "localhost",
  "db.port": 3306,
  "db.name": "db",
  "db.user": "user",
  "db.password": "password"
}